zag/*
build/*
report/*
.cache/*
garbage/*
bochslog.txt
.ccls-cache/*
docs/doxygen/*
compile_commands.json

coverage/*
coverage_test/*

bb.out.*
dhat.out.*
massif.out.*
cachegrind.out.*
callgrind.out.*

dump.json
uftrace.data/

breakpoints.json
unit_tests/build/*
src/breakpoints.json
unit_tests/breakpoints.json

docs/.$how_computer_load_kernel.drawio.bkp
docs/.$how_computer_loads_kernel.drawio.bkp
