build/*
garbage/*
bochslog.txt
docs/doxygen/*

breakpoints.json
src/breakpoints.json
unit_tests/breakpoints.json
unit_tests/build/*

docs/.$how_computer_load_kernel.drawio.bkp
docs/.$how_computer_loads_kernel.drawio.bkp
